<p>songs</p>
<ul>
<% @songs.each do |song| %>
  <li><%= song.title %></li>
<% end %>
</ul>

<img src = "<%= image_url 'raw-run.jpg' %>"/>

<% if user_signed_in? %>
	<%= link_to 'New Song', new_song_path %>
<% end %>