<h1>Enter New Password</h1>

<%= form_with scope: :reset, url: reset_code_path(@code), method: :put do |form| %>
	<p>
		<%= form.password_field :password %>
	</p>
	<p>
		<%= form.submit 'Reset Password' %>
	</p>
<% end %>